/* Estilos para la página principal de Facebook-Lite */
:root {
    --Facebook-Blue: #1877F2; /* Azul característico de Facebook */
    --primary-color: #FFFFFF; /* Blanco para fondos y elementos principales */
    --secondary-color: #F2F4F7; /* Gris claro para fondos y bordes */
    --hover-color: #e7e7e7; /* Color para hover en botones y enlaces */
    --text-color: #050505; /* Color de texto oscuro */
    --h3-text-color: #474747; /* Color de texto para títulos h3 */
    --cookies-banner-bg: #e7e7e7; /* Fondo del banner de cookies */
    --publicity-banner-border-image: #a3a3a3; /* borde de Imagen para el banner de publicidad */
    --add-url-text-color: #b9b9b9; /* Color del texto para el botón de agregar URL en publicaciones */
    --action-buttons-text-color: gray; /* Color del texto para los botones de acción en publicaciones */
}

.dark-mode {
    --primary-color: #18191A; /* Fondo oscuro para modo oscuro */
    --secondary-color: #242526; /* Fondo secundario oscuro */
    --hover-color: #3A3B3C; /* Color de hover para modo oscuro */
    --text-color: #E4E6EB; /* Texto claro para modo oscuro */
    --h3-text-color: #B0B3B8; /* Color de texto para títulos h3 en modo oscuro */
    --cookies-banner-bg: #e7e7e7; /* Fondo del banner de cookies en modo oscuro */
    --action-buttons-text-color: #B0B3B8; /* Color del texto para los botones de acción en modo oscuro */
}


*{
    font-family: 'helvetica', sans-serif;
    color: var(--text-color)
    font-size: 14px;
    text-decoration: none;
}

body{
    background-color: var(--secondary-color);
}

h3{
    color: var(--h3-text-color);
    margin-left: 10px;
}

/* Banner de cookies */
.cookiesBanner {
    display: flex;
    position: fixed;
    align-items: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cookies-banner-bg);
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2000; /* Alto valor para estar encima de todo */
    border-radius: 20px;
}

#acceptButton {
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;

}

#acceptButton:hover {
    background-color: var(--Facebook-Blue);
}

#rejectButton {
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#rejectButton:hover {
    background-color: #f44336;
}

/* PARTE SUPERIOR (BARRA DE NAVEGACIÓN) */
/* ***[Estilos para la barra de navegación]*** */
.menuContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 5vh;
    vertical-align: middle; /* top | middle | bottom */
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}


/* ***Estilos para el logo y la barra de búsqueda*** */
.logoContainer{
    display: flex;
    min-width: 33%;
    justify-content: space-around;
    align-items: center;
    height: 5vh;

    text-align: center;
    
}

.logoContainer img{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    text-align: left;
    margin: 2px;
}

#logoFacebook:hover{
    cursor: pointer;
}

.logoContainer input{
    align-self: center;
    width: 250px;
    padding: 7px;
    font: 12px;
    border: 2px solid;
    border-radius: 12px;
    background-color: var(--secondary-color);
    border-color: lightgray;
    margin-top: 2px;
}

/* Cambia el borde del input al hacer focus */
input:focus{
    outline: none;
    border-color: var(--Facebook-Blue);
}

/* Elimina el texto del placeholder al hacer focus en el input */
input:focus::placeholder {
    color: transparent;
}


/* ***Estilos para los botones de navegación*** */
.navContainer{
    position: relative;
    min-width: 33%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    height: 5vh;
    vertical-align: middle; /* top | middle | bottom */
    text-align: center;
}

.navButton{
    width: 20%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 7px;
    
    text-align: center;
    vertical-align: middle; /* top | middle | bottom */
}

.navButton:hover{
    background-color: var(--hover-color);
}

.navButton img{
    height: 40px;
    max-height: 40px;
    text-align: center;
}


/* ***Estilos para el perfil del usuario*** */
.profileContainer{
    min-width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 5vh;

}

.profileContainer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: right;
    margin: 20px;
}

#profileName{
    text-align: right;
    margin-right: 20px;
}

/* ***[Estilos para la página principal]*** */
.mainContainer{
    display: flex;
    position: relative;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    height: 95vh;

}

/* SECCIÓN IZQUIERDA */
/* ***Estilos para el contenedor de la Izquierda*** */
.leftContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-width: 25%;
    height: 95vh;
    
}

.subMenuButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 0px;
    border-radius: 7px;
    text-decoration: none;
}

.subMenuButton:hover{
    background-color: var(--hover-color);
}

.subMenuButton img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
}




/* SECCIÓN CENTRAL */
/* ***Estilos para el contenedor del centro*** */
.contentContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    min-width: 50%;
    height: 100%;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 10px;
    
}

/* ***Estilos para el formulario de publicación*** */
.pbtForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    width: 100%;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: var(--primary-color);
    border: transparent 1px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);

}    

.profilePic img{
    width: 40px;
    height: 35x;
    border-radius: 100%;
    text-align: right;
    margin-right: 5px;
    margin-left: 5px;
}

#postInput{
    min-width: 100px;
    width: 500px;
    height: 20px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 50px;
    background-color: var(--secondary-color);
    margin-left: 15px;
    margin-right: 15px;
}

.pubButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.pubButton{
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--Facebook-Blue);
    color: white;
    text-align: center;
    margin-left: 10px;
}

.pubButton img{
    width: 100%;
    height: 100%px;
    text-align: center;
    vertical-align: middle; 
}


/* ***Estilos para el contenedor de HISTORIAS (WIP)*** */
.storyContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 7px;
    background-color: var(--primary-color);
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.storyContainer img{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle; 
    border-radius: 7px;
}

#comingSoon1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: brightness(65%);
    opacity: 75%;
}

#comingSoon2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 35%;
    z-index: 2;
}

/* ***Estilos para el contenedor de Publicaciones*** */
.postContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    justify-items: stretch;
    align-items: center;
    width: 100%;
    max-height: fit-content;
    margin-top: 15px;
    border: transparent;
    border-radius: 7px;
    background-color: var(--primary-color);
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.postHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.postHeader img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: right;
    margin-right: 10px;
    margin-left: 5px;
}

.postUserInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    line-height: 0.50;
    padding-top: 15px;
    text-decoration: none;
    margin-right: 0px;
}
.postUserName{
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color);
}

.postButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: fit-content;
    height: 100%;
    text-align: center;
}

.postButton{
    border: none;
    width: 30px;
    height:30px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    color: gray;
    font-weight: bold;
    font-size: large;
    font-family: "lukeW", sans-serif;
    text-align: center;
}

.postButton:hover{
    background-color: var(--hover-color);
    color: var(--text-color);
}

.postContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

/* IMAGEN DE LA PUBLICACIÓN (WIP) */
/* .postImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 10px;
} */

/* ENLACE EXTERNO */
.externalLinkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 700px;
    width: 100%;
    margin-top: 10px;
}

.youtubeVid{
    width: 50%;
    height: 100px;
    border: none;
    border-radius: 7px;
}


.postFooter{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
}

/* INFORMACIÓN DE LAS INTERACCIONES (WIP) */
/* .postInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 0.50;
    padding-top: 02px;
    text-decoration: none;
} */


/* CONTENEDOR DE BOTONES DE ACCIÓN */
.actionButtons{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 33%;
    height: 20px;
    text-align: center;
}

/* BOTONES DE ACCIÓN */
.actionButton{
    min-width: 150px;
    max-width: max-content;
    height:30px;
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    color: gray;
    font-weight: bold;
    font-size: medium;
    font-family: "lukeW", sans-serif;
    text-align: center;
    border: transparent;
    transition: all 0.1s ease;
}

.actionButton:hover{
    background-color: var(--hover-color);
    color: var(--text-color);
}

.actionButton:active {
    transform: scale(0.95);
    box-shadow: 0 2px 0 #0f5dc2;
}

.actionButton img{
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
}



/* SECCIÓN DERECHA */
/* ***Estilos para el contenedor de la Derecha*** */
.rightContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    max-width: 25%;
    height: 95vh;
    
}

/* PUBLICIDAD */
.publicityContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    width: 100%;

}

.adContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    text-decoration: none;

}

.adImage{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 10px;
    text-decoration: none;
}

.adImage img{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.adInfo{
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    width: 60%;
    height: 100%;

    margin: 10px;
}

.adInfo p{
    text-decoration: none;
    color: var(--add-url-text-color);
}

/* CONTACTOS */
.contactsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    width: 100%;
    height: 50%;

}



/* Responsive Escritorio */



/* ***Responsive Movil (LOG-IN PAGE)*** */
@media (max-width: 768px) {
    .imageContainer img{
        display: none;              /* Desaparace el contenido del contenedor*/
    }

    .loginContainer{
        align-content: center;      /*Centra el contenido del Contenedor*/
        justify-content: center;
    }

    .loginContainer img{
        visibility: visible;        /* Aparece la imagen del logo de facebook cuando está en modo movil*/
    }
}
