/* Estilos para la página principal de Facebook-Lite */
:root {
    --Facebook-Blue: #1877F2; /* Azul característico de Facebook */
    --primary-color: #FFFFFF; /* Blanco para fondos y elementos principales */
    --secondary-color: #F2F4F7; /* Gris claro para fondos y bordes */
    --hover-color: #d5d6d6; /* Color para hover en botones y enlaces */
    --text-color: #050505; /* Color de texto oscuro */
    --cookies-banner-bg: #e7e7e7; /* Fondo del banner de cookies */
}

*{
    font-family: 'helvetica', sans-serif;
    color: var(--text-color)
    font-size: 14px;
}

body{
    background-color: var(--secondary-color);
}


/* Banner de cookies */
.cookiesBanner {
    display: flex;
    position: fixed;
    align-items: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cookies-banner-bg);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2000; /* Alto valor para estar encima de todo */
    border-radius: 20px;
}

#acceptButton {
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;

}

#acceptButton:hover {
    background-color: var(--Facebook-Blue);
}

#rejectButton {
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#rejectButton:hover {
    background-color: #f44336;
}


/* ***[Estilos para la barra de navegación]*** */
.menuContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 5vh;
    border: black solid 1px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}


/* ***Estilos para el logo y la barra de búsqueda*** */
.logoContainer{
    display: flex;
    min-width: 33%;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    border: black solid 1px;
    text-align: center;
    
}

.logoContainer img{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    text-align: left;
    margin: 2px;
}

.logoContainer input{
    align-self: center;
    width: 250px;
    padding: 7px;
    font: 12px;
    border: 2px solid;
    border-radius: 12px;
    background-color: var(--secondary-color);
    border-color: lightgray;
    margin-top: 2px;
}

/* Cambia el borde del input al hacer focus */
input:focus{
    outline: none;
    border-color: var(--Facebook-Blue);
}

/* Elimina el texto del placeholder al hacer focus en el input */
input:focus::placeholder {
    color: transparent;
}


/* ***Estilos para los botones de navegación*** */
.navContainer{
    position: relative;
    min-width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    height: 5vh;
    border: black solid 1px;
    text-align: center;
}

.navButton{
    width: 20%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 7px;
    text-align: center;
}

.navButton:hover{
    background-color: var(--hover-color);
}


/* ***Estilos para el perfil del usuario*** */
.profileContainer{
    min-width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 5vh;
    border: black solid 1px;
}

.profileContainer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: right;
    margin: 20px;
}

#profileName{
    text-align: right;
    margin-right: 20px;
}


/* ***[Estilos para la página principal]*** */
.mainContainer{
    display: flex;
    position: relative;
    top: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 95vh;
    border: black solid 1px;
}

/* ***Estilos para el contenedor de la Derecha*** */
.rightContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    height: 95vh;
    border: black solid 1px;
}

/* ***Estilos para el contenedor del centro*** */
.contentContainer{
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    height: 95vh;
    border: black solid 1px;
}

/* ***Estilos para el contenedor de la Izquierda*** */
.leftContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    height: 95vh;
    border: black solid 1px;
}






/* ***Responsive Movil*** */
@media (max-width: 768px) {
    .imageContainer img{
        display: none;              /* Desaparace el contenido del contenedor*/
    }

    .loginContainer{
        align-content: center;      /*Centra el contenido del Contenedor*/
        justify-content: center;
    }

    .loginContainer img{
        visibility: visible;        /* Aparece la imagen del logo de facebook cuando está en modo movil*/
    }
}
